div {
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

p {
  color: red;
}
